.row {
    display: flex;
    justify-content: space-between;
}

/* This property combines: flex-grow, flex-shrink, flex-basis and can provide an easy way for us to create columns in our layout. Think of each element with flex: 1; like one slice of a pie. If another column were to have flex: 2, it will essentially take 2 slices of the available space. */
.col {
    flex: 1;


}

.col-2 {
    flex: 2;

}

.col-3 {
    flex: 3;

}


.col,
.col-2,
.col-3 {
    background-color: cadetblue;
    color: wheat;
    margin: 10px;
    padding: 25px 30px;
    font-size: 30px;

}